#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: start;
}

.sectionOne {
  width: 1290px;
}

.boxText-title {
  width: 483px;
  height: 272px;
  padding: 0;
  margin-right: 42px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.text_parr {
  margin-bottom: 24px;
}

.text_general {
  font-size: 16px;
}

.bannerLanding {
  width: 801px;
  height: 551px;
  background: url('../src/assets/images/banner.png'), #FFFDF8 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  outline-offset: 10px;
  border: 1px solid black;
  position: absolute;
  top: 120px;
  right: 0px;
}

.button_container {
  width: 454.63px;
  height: 166px;
  background: url('../src/assets/images/figuras-line/Dot\ Ornament.png'), #FFFDF8 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 60px;
  left: -30px;
}

.button_special {
  position: absolute;
  top: -78px;
  left: 30px;
}

.img_circle {
  width: 129px;
  height: 129px;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  position: absolute;
  top: 100px;
  right: 650px;
}

.img_form {
  width: 140px;
  height: 178px;
  border: 4px solid #D9D9D9;
  border-bottom-right-radius: 100px;
  position: absolute;
  top: 550px;
  right: 40px;
}

/* section help business*/

.Help_business {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 42px;
  margin-top: 250px;
}

.container_text_principal {
  width: 1290px;
}

.container_colors {
  width: 1290px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-top: 40px;
  padding-bottom: 24px;
  position: relative;
  z-index: 2;
}

.container_blue,
.container_orange,
.container_red {
  width: 383px;
  height: 218px;
  padding: 24px 45px 32px 45px;
  align-items: center;
  gap: 16px;
  border-radius: 40px;
  border: 1px solid #000;
  box-shadow: 10px 10px 0px 0px #000;
}

.container_blue {
  background: #D2EAF4;
}

.container_orange {
  background: #EFC48F;
}

.container_red {
  background: #EECFCD;
}

.title_icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons {
  width: 40px;
  height: 40px;
  color: #000;
}

.title_h2 {
  color: #000;
}

.circles_decorations {
  display: flex;
  width: 698.737px;
  height: 174.684px;
  background: url('../src/assets/images/figuras-line/dot\ ornament2.svg'), #FFFDF8 50% / cover no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -139px;
  left: 650px;
  z-index: 1;
}

/* section carousel*/

.impact_result {
  display: flex;
  width: 1198px;
  align-items: flex-start;
  gap: 88px;
  position: relative;
  justify-content: center;
}

.carousel_img {
  width: 570px;
  height: 392px;
  border-radius: 40px;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
}

.img_circle_bold {
  width: 129px;
  height: 129px;
  border: 4px solid #D9D9D9;
  border-radius: 100px;
  position: absolute;
  top: 310px;
  right: 585px;
  z-index: -1;
}

.container_text_carousel {
  width: 532px;
  height: 353px;
  position: relative;
  /* Esto permite el posicionamiento absoluto de los elementos hijos */
}

.img_form_rose {
  width: 146px;
  height: 146px;
  background-color: #EECFCD;
  border-bottom-right-radius: 100px;
  position: absolute;
  right: 430px;
  top: 0;
  z-index: -1;
  /* Esto asegura que el elemento esté detrás del contenido del contenedor */
}

h1,
p {
  position: relative;
  z-index: 1;
  /* Asegura que el texto esté delante del contenedor de fondo */
}

/* section form */

.container_form {
  width: auto;
  height: 342px;
  margin-top: 138px;
  display: inline-flex;
  padding: 60px;
  align-items: flex-start;
  gap: 60px;
  border-radius: 75px;
  border: 1px solid #000;
}

.container_text_form{
  width: 507px;
  height: 342px;
}

.title_form{
  margin: 0;
  
}